*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --primary-clr-900: #060407;
  --primary-clr-500: #B71919;
  --primary-clr-400: #FF0000;
  --primary-clr-300: #E29602;

  --neutral-clr-100: #FFF;
  --neutral-clr-900: #000;

  --ff-primary: 'Inter', sans-serif;

  --fw-light: 300;
  --fw-regular: 700;
  --fw-black: 900;

  --fs-900: clamp(2.625rem, 4vw, 3.75rem);
  --fs-800: clamp(2rem, 3vw, 2.625rem);
  --fs-700: 2.25rem;
  --fs-600: clamp(1rem, 2.5vw, 1.375rem);
  --fs-500: 1.25rem;
  --fs-400: 1.125rem;
  --fs-300: clamp(.875rem, 1vw, 1rem);
  --fs-200: .75rem;

  --br: 4rem;
}

/* global styling */

body {
  font-family: var(--ff-primary);
  color: var(--neutral-clr-100);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
}

body::-webkit-scrollbar {
  width: .75rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-clr-400);
  border-radius: 1.25rem;
  border: .1875rem solid transparent;
  background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(144, 15, 15);
}

body::-webkit-scrollbar-track {
  background-color: var(--neutral-clr-900);
}

button {
  width: 100%;
  border: 0;
  background-image: linear-gradient(to left, #866433, #D7A548 50%, #866433);
  background-position: 50%;
  position: relative;
  cursor: pointer;
  border-radius: var(--br);
  animation: pulse-animation 1.75s alternate infinite linear, shake-animation 3s infinite ease-in;
  box-shadow: 0 0 1rem #866433;
  transition: transform .1s linear;
}

button a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--neutral-clr-100);
  text-decoration: none;
  padding: .4rem .75rem;
}

@keyframes pulse-animation {
  50% {
    box-shadow: 0rem 0rem 2rem #D7A548;
  }
}

@keyframes shake-animation {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}

button a::after {
  content: "";
  display: inline-block;
  width: 41px;
  height: 41px;
  background-image: url("images/icons/hand-button-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: clamp(.25rem, 1vw, .5rem);
}

button:hover {
  transform: scale(103%);
  box-shadow: 0 0 2rem #D7A548;
}

/* hero section */

.hero-section {
  background-image: url("images/bg/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-top: 1rem;
}

@media (min-width: 56.25em){
  .hero-section {
    padding-top: 2rem;
    min-height: auto;
  }
}

.hero-image-side img {
  margin-inline: auto;
  width: min(100%, 36rem);
}

@media (min-width: 56.25em) {
  .hero-image-side img {
    width: auto;
  }
}

@media (min-width: 56.25em) {
  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    flex-direction: row-reverse;
  }

  .hero-image-side {
    margin-inline: 0;
  }
}

.hero-text-side, .about-product-section-text-side {
  max-width: 42ch;
  margin-inline: auto;
  text-align: center;
  padding: 1rem 1.25rem;
}

@media (min-width: 56.25em) {
  .hero-text-side, .about-product-section-text-side {
    padding: 0;
  }
}

@media (min-width: 56.25em) {
  .hero-text-side, .about-product-section-text-side {
    text-align: start;
    padding-left: 1rem;
  }

  .hero-text-side {
    max-width: 30ch;
    line-height: 1.3;
  }

  .about-product-section-text-side {
    margin-inline: 0;
    max-width: 41ch;
  }
}

.hero-text-side-title-wrapper {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 56.25em) {
  .hero-text-side-title-wrapper {
    text-align: start;
  }
}

.hero-text-side-title-wrapper h1 {
  position: relative;
  display: inline-block;
  z-index: 1;
  font-size: var(--fs-800);
  line-height: 1.1;
  max-width: 20ch;
}

@media (min-width: 56.25em) {
  .hero-text-side-title-wrapper h1 {
    max-width: auto;
  }
}

.hero-text-side-title-wrapper h1 > .onlyfans {
  font-size: var(--fs-900);
  line-height: 1;
}

.blur-effect {
  position: absolute;
  width: 50%;
  height: 10%;
  right: 50%;
  bottom: 50%;
  transform: translate(50%);
  border-radius: 100%;
  box-shadow: 0rem 0rem 4rem 3.5rem var(--neutral-clr-900);
  background-color: var(--neutral-clr-900);
  opacity: 1;
}

@media (min-width: 75em) {
  .blur-effect {
    width: 90%;
    box-shadow: 0rem 0rem 4rem 3.5rem var(--neutral-clr-900);
    background-color: var(--neutral-clr-900);
    opacity: .3;
  }
}

.hero-text-side p {
  margin-block: 1rem;
}

@media (min-width: 50em) {
  .hero-text-side p {
    margin-block: 2.5rem;
  }
}

.hero-text-side button {
  margin-bottom: 3rem;
}

/* about product section */

.about-product-section {
  position: relative;
  background-color: var(--primary-clr-900);
  padding-top: 2rem;
}

@media (min-width: 56.25em) {
  .about-product-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-bottom: 2rem;
    gap: 3rem;
    margin-left: auto;
  }

  .about-product-section-image-side {
    width: 50%;
  }
}

.about-product-section::after {
  content: "";
  position: absolute;
  top: -5px;
  width: 100%;
  height: 20%;
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0));
}

@media (min-width: 56.25em) {
  .about-product-section::after {
    height: 40%;
  }
}

.about-product-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("images/bg/blur-efect-bg.png");
  background-repeat: no-repeat;
  background-position: left 0%;
  background-size: 22.5%;
  z-index: 1;
}

@media (min-width: 56.25em) {
  .about-product-section::before {
    inset: -4.5rem 0 0 0;
    background-size: 10%;
  }
}

.about-product-section-image-side img {
  position: relative;
  width: min(100%, 32rem);
  margin-inline: auto;
  z-index: 0;
}

@media (min-width: 56.25em) {
  .about-product-section-image-side img {
    position: relative;
    width: 100%;
  }

  .about-product-section-image-side::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-image: linear-gradient(#000, rgba(0, 0, 0, 0));
  }
}

.about-product-section-image-side::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 8%;
  height: 100%;
  background-image: linear-gradient(to left,#000, rgba(0, 0, 0, 0));
}

@media (min-width: 56.25em) {
  .about-product-section-image-side::after {
    display: none;
  }
}

.about-product-section-text-side {
  position: relative;
  z-index: 2;
}

@media (min-width: 56.25em) {
  .about-product-section-text-side {
    margin-inline: auto;
  }
}

.about-product-section-text-side p {
  font-size: var(--fs-300);
  margin-block: 2rem;
}

.checklist-benefits {
  text-align: start;
  margin-block: 2rem;
}

.checklist-benefits > li {
  display: inline-flex;
  align-items: center;
  font-size: var(--fs-600);
  line-height: 1.2;
}

.checklist-benefits > li::before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 29px;
  background-image: url("images/icons/checklist-box-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: clamp(0rem, 3vw, 1.25rem);
}

.about-product-section-text-side button {
  margin-block: 2rem;
}

@media (min-width: 56.25em) {
  .about-product-section-text-side button {
    font-size: clamp(1rem, 2vw, 1.688rem);
}

}

/* footer */

footer {
  font-size: var(--fs-200);
  font-weight: var(--fw-light);
  text-align: center;
  background: var(--neutral-clr-900);
  padding-block: 2rem;
}

/* utility classes */

.accent-clr-400 {
  color: var(--primary-clr-400);
}

.accent-clr-300 {
  color: var(--primary-clr-300);
}

.desktop {
  display: none;
}

@media (min-width: 56.25em) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}

.secret-guide {
  position: relative;
  z-index: 3;
  display: block;
  font-weight: var(--fw-light);
}

.gradient-clr-400 {
  background-image: 
  linear-gradient(#D7A548, #866433);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}